<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="file.name" value="scarlett" />
    <property name="max.history" value="1095" />
    <property name="base.dir" value="/root/project/tomcat_8.5/applog" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${base.dir}/${file.name}_%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY </onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${base.dir}/${file.name}.error_%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileSql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${base.dir}/${file.name}.sql_%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileRequest" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY </onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${base.dir}/${file.name}.request_%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.scarlett" additivity="false">
        <level value="info" />
        <appender-ref ref="file" />
        <appender-ref ref="fileError" />
    </logger>

    <logger name="com.scarlett.web.aspect.LogAspect" additivity="false">
        <level value="info" />
        <appender-ref ref="fileRequest" />
    </logger>

    <logger name="com.scarlett.dal.mybatis.plugin.SqlCostInterceptor" additivity="false">
        <level value="info" />
        <appender-ref ref="fileSql" />
    </logger>

    <root level="info">
        <appender-ref ref="file" />
        <appender-ref ref="fileError" />
    </root>

</configuration>