<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration >

  <settings>
    <!--<setting name="logPrefix" value="dao."/>-->
    <setting name="lazyLoadingEnabled" value="false"/>
    <!--<setting name="logImpl" value="SLF4J"/>-->
    <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
  </settings>
  <plugins>
      <plugin interceptor="com.scarlett.dal.mybatis.plugin.TrimInterceptor" >
      </plugin>
       <plugin interceptor="com.scarlett.dal.mybatis.plugin.SqlCostInterceptor" >
           <property name="mapperPackage" value=""/>
       </plugin>
   </plugins>
</configuration>